<div class="col">
    <label for="{{name}}">Field</label>
    <select class="form-control" name={{name}} id={{id}}>
        {{#each fields}}
            <option value={{this.name}}>
                {{this.name}}
            </option>
        {{/each}}
    </select>
</div>
