{{#*inline "contents"}}
    <h1>Reconstruction of document ({{segment}}, {{doc}})</h1>
    {{#each entries}}
        <h2>{{field}}</h2>
        {{contents}}
    {{/each}}
    {{#unless all_fields}}
        <h2><a href="reconstruct?segment={{segment}}&doc={{doc}}">Reconstruct all fields</a></h2>
    {{/unless}}
{{/inline}}
{{~> skeleton~}}
