{{#*inline "contents"}}
    <h1>Reconstruction of document <code>({{segment}}, {{doc}})</code></h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr><td>Field</td><td>Contents</td></tr>
        </thead>
        <tbody>
        {{#each entries}}
            <tr>
                <td>{{field}}</td>
                <td>{{contents}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{#unless all_fields}}
        <a href="reconstruct?segment={{url_encode segment}}&doc={{doc}}" role="button" class="btn btn-primary btn-lg">
            Reconstruct all fields
        </a>
    {{/unless}}
{{/inline}}
{{~> skeleton~}}
