{{#*inline "contents"}}
    <form action="search" class="m-3">
        <div class="form-row">
            <div class="col-6">
                <label class="sr-only" for="query">Query</label>
                <textarea class="form-control" name="query" id="query" rows="3" placeholder="Query. e.g., field:word">{{query}}</textarea>
            </div>
            <div class="col-4 align-self-center">
                <button type="submit" class="btn btn-block btn-primary">New Search</button>
            </div>
        </div>
    </form>

    <h1>Documents matching query <code>{{query}}</code></h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Doc</th>
            {{#each reconstructed_fields}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        </thead>

        <tbody>
        {{#each docs}}
            {{#each this.[1]}}
                <tr>
                    <td>
                        <a href="reconstruct?segment={{url_encode ../this.[0]}}&doc={{this.[0]}}">({{../this.[0]}}, {{this.[0]}})</a>
                    </td>
                    {{#each this.[1]}}
                        <td>
                            {{this}}
                        </td>
                    {{/each}}
                </tr>
            {{/each}}
        {{/each}}
        {{#if truncated}}
            <tr><td>[...Truncated...]</td></tr>
        {{/if}}
        </tbody>
    </table>
{{/inline}}
{{#*inline "scripts"}}
    <script type="text/javascript">
        $(function() {
            $('#query').keydown(function(e) {
                if (e.keyCode === 13) {
                    this.form.submit();
                    return false;
                }
            });
        });
    </script>
{{/inline}}
{{~> skeleton~}}
