<div class="col">
    <label for={{id}}>Segment</label>
    <select class="form-control" name={{name}} id={{id}}>
        {{#each segments}}
            <option value={{this}}>
                {{this}}
            </option>
        {{/each}}
    </select>
</div>
