{{#*inline "contents"}}
    <h1>Documents with term <code>{{term}}</code> in field <code>{{field}}</code></h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Doc</th>
        </tr>
        </thead>

        <tbody>
        {{#each term_docs}}
            <tr>
                <td>
                    <a href="reconstruct?field={{../field}}&segment={{this.segment}}&doc={{this.doc}}">({{this.doc}}, {{this.segment}})</a>
                </td>
            </tr>
        {{/each}}
        {{#if truncated}}
            <tr><td>[...Truncated...]</td></tr>
        {{/if}}
        </tbody>
    </table>
{{/inline}}
{{~> skeleton~}}
