<html>
<head></head>
<body>

<h1>Top Terms in {{field}}</h1>

<table>
    <thead>
    <tr>
        <th>Term</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody>
    {{#each terms}}
        <tr>
            <td>{{this.term}}</td>
            <td><a href="term_docs?field={{../field}}&term={{this.term}}">{{this.count}}</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>