{{#*inline "contents"}}
    <h1>Top terms in field <code>{{field}}</code></h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Term</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        {{#each terms}}
            <tr>
                <td>{{this.term}}</td>
                <td><a href="search?query={{../field}}%3A{{this.term}}">{{this.count}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/inline}}
{{~> skeleton~}}